{% extends 'base.html' %}
{% load staticfiles %}

{% block content-title %} Exam {% endblock %}
{% block content-description %}
	Create
{% endblock %}

{% block info %}
	{% include 'exam/messages.html' %}
{% endblock %}

{% block right-button %}
	<div style="float:right; margin-right: 5px" class="btn-group" role="group">
		<a href="{% url 'exam:index' %}?lesson_id={{ request.GET.lesson_id }}" style="float:right;border-radius:0" class="btn btn-default" >
			<i class="fa fa-hand-o-left"></i> &nbsp; Return Exams
		</a>
	</div>
{% endblock %}

{% block body %}
	<div class="box-body col-sm-12">
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			{{ form.media }}

			{% include 'exam/form.html' %}

			<div class="box-footer col-sm-6 col-sm-offset-2">
				<div class="pull-left">
					<a href="#" onclick = "$('#question-modal').show()" class="btn btn-default">Questions</a>
					<button type="submit" class="btn btn-info">Create</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>