{% extends 'base.html' %}
{% load staticfiles %}

{% block content-title %} Profile {% endblock %}

{% block content-description %}
	User
{% endblock %}

{% block info %}
	{% include 'exam/messages.html' %}
{% endblock %}

{% block right-button %}
	<div style="float:right" class="btn-group" role="group">
			<a class="btn btn-default dropdown-toggle" style="float:right;border-radius:0; padding-left: 30px; padding-right: 30px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   <i class="fa fa-bar-chart-o"></i> &nbsp; User Activity
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
			  <li><a href="{% url 'lesson:index' %}">
				  <i class="fa fa-book" aria-hidden="true"></i>{{ request.user.lesson_user.count }} Lesson</a></li>
			  <li><a href="{% url 'question:index' %}">
				  <i class="fa fa-question" aria-hidden="true"></i>{{ request.user.question_user.count }} Question</a></li>
			  <li><a href="{% url 'exam:index' %}">
				  <i class="fa fa-file-text-o" aria-hidden="true"></i>{{ request.user.exam_user.count }} Exam</a></li>
			</ul>
		</div>
{% endblock %}


{% block body %}
    <div class="box-body">

		<div class="col-lg-6 col-lg-offset-3">
			{% if request.user.user_profile.profile_photo.url %}
			  <img class="profile-user-img img-responsive img-circle" src="{{ request.user.user_profile.profile_photo.url }}" alt="User profile picture">
			{% else %}
  			  <img class="profile-user-img img-responsive img-circle" src="/media/profile_photo/avatar.jpg" alt="User profile picture">
			{% endif %}
			<br>
			{# 1. BUTTON TO TRIGGER THE ACTION #}
			<div class="col-lg-6 col-lg-offset-4">
				<button  type="button" class="center btn btn-default js-upload-photos">
				  <i class="fa fa-upload"></i> &nbsp;&nbsp; Upload Photo &nbsp; &nbsp;
				</button>
			</div>
			<br><br><br>


			{# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
			<input id="fileupload" type="file" name="profile_photo"
				   style="display: none;"
				   data-url="{% url 'accounts:profile_photo' %}"
				   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

		</div>
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				{% for field in form %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}" class="col-sm-2 control-label col-sm-offset-2">{{ field.label_tag }}</label>
						<div class="col-sm-4">
							{{ field }}
						</div>
					</div>
				{% endfor %}

				<div class="col-sm-offset-4">
					<button style="margin-left: 10px" type="submit" class="btn btn-success">
						<i class="fa fa-check" aria-hidden="true"></i>
						Update
					</button>
				</div>
			</form>
		</div>
    </div>
{% endblock %}

