html,body { height:100%; }

body{
    background: #ECF0F5;
    font-family: 'Roboto', sans-serif;
    -webkit-print-color-adjust: exact;
    width: 100%;
}

.key {
    display: block;
}

.content {

    min-height: 842px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #ffffff;
}


.col-md-10{
    padding: 0px;
    margin: 0px;

}

.col-md-1{
    padding: 0px;
    margin: 0px;
}
.col-md-11{
    padding: 0px;
    margin: 0px;
}

.col-md-12{
    margin-bottom: 5px;
    margin-top: 5px;
}

.row{
    padding: 0px;
}

.navbar-expand-lg{
    background: #438DBC;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }


nav.navbar.navbar-expand-lg.navbar-dark {
    height: 50px;
}

.col-md-10 p {
    margin-bottom: 0px;
}

.top-squares{
    padding-top: 10px;
    padding-left: 17px;
    display: flex;
    flex-direction:row;
}

.square{
    width: 12px;
    height: 12px;
    background: black;
    margin-right: 6px;
}

.content {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
}

.col-md-12{
    margin-top: 15px;
}

.col-md-11{
    margin-bottom: -15px;
}

.right-column{
    border-left: 1px solid #d9d9d9;
}


@media print {
    .content {
        margin: 0 auto;
        width: 95%;
    }
    .col-md-12 { page-break-inside: avoid;  }

    pre{
        border: 0px;
    }

    .metadata-top{
      font-size: 20px;
    }
    .metadata{
        font-size: 20px;
    }
}
