{% load staticfiles %}



{% include 'header.html' %}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>

	  	{% block right-button %} {% endblock %}

        {% block content-title %}{% endblock %}

        <small>{% block content-description %}{% endblock %}</small>
      </h1>
    </section>
    
    <section class="content">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
			<small>
        		{% block info %} {% endblock %}
			</small>
		  </h3>
        </div>
        <div class="box-body">

            {% block body %} {% endblock %}

        </div>
      </div>
    </section>
  </div>

{% include 'footer.html' %}

{% block script %} {% endblock %}